.element__like {
    background-position: center center;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: none;
}

.element__like:hover{
    opacity: 0.5;
    cursor: pointer;
}