.header {
    border-bottom: 1px solid rgba(54, 54, 54, 0.6);
}

@media screen and (max-width:900px) {
    .header {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width:900px) {
    .header {
        width: 880px;
        margin: 0 auto 0;
    }
}