.element__btn-delete{
    background-image: url(../../../images/Trash.svg);
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-position: center center;
    height: 19px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.element__btn-delete:hover{
    opacity: .6;
    cursor: pointer;
}